<html>
  <body>
    <section>
    <app-cart></app-cart>
      <div class="navbar">
        <div class="rectangle"></div>
        <h5 class="logo">audiophile</h5>
        <h6 class="top-let" routerLink="/home">HOME</h6>
        <h6 class="top-let" routerLink="/headphones">HEADPHONES</h6>
        <h6 class="top-let" routerLink="/speakers">SPEAKERS</h6>
        <h6 class="top-let" routerLink="/earphones">EARPHONES</h6>
      </div>
    </section>
      <router-outlet></router-outlet>
  </body>
</html>
